body {
	background-color: #2c343c;
}

#head {
	position: absolute;
	width: 100%;
	height: 10%;
	font-family: cursive;
	font-size: 20px;
	z-index: 1;
}

.top{
    /* 设置宽度高度背景颜色 */
    height: auto; /*高度改为自动高度*/
    width:100%;
    margin-left: 0;
    background:darkgray;
    position: fixed; /*固定在顶部*/
    top: 0;/*离顶部的距离为0*/
    margin-bottom: 5px;
	z-index: 1;
}
.top ul{
    /* 清除ul标签的默认样式 */
    width: auto;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 2%;
    /* margin-top: 0;          */
    padding: 0;

}
.top li {
    float:left; /* 使li内容横向浮动，即横向排列  */
	margin-right: 6%; /* 两个li之间的距离*/
	padding-top: 10px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
}

.top li span{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
    
}
.top li span:hover{
    /* 鼠标选中时背景变为黑色 */
    background-color: #d0d0d0;
}
.top ul li ul{
    /* 设置二级菜单 */
    margin-left: -0.2px;
    background:darkgray;
    position: relative;
    display: none; /* 默认隐藏二级菜单的内容 */

}
.top ul li ul li{
    /* 二级菜单li内容的显示 */
    float:none;
    text-align: center;
	width: 100%;
}
.top ul li:hover ul{
    /* 鼠标选中二级菜单内容时 */
    display: block;
}

#center {
	position: absolute;
	top: 10%;
	width: 100%;
	height: 85%;
	background-color: #2c343c;
}

#center #iframe1 {
	width: 100%;
	height: 100%;
	background-color: #2c343c;
}

#bottom {
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}